body{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

#container{
width: 100%
}

#menu{
  height: 99px;
  display: flex;
  flex-direction: row-reverse;
}

#header{
  height: 293px;
  width: 100%;
}

#center{
  height: 68px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#centerMiddle{
  height: 68px;
  display: flex;
  align-items:flex-end;
  justify-content: center;
}

#centerDown{
  height: 95px;
  padding-top: 16px;
  margin-bottom: 14px;
}

#bottom{
  height: 83px;
  background-color: #f2f2f2;
}

.elements{
  height: 30px;
  width: 30px;
  margin-top: 15px;
}

#user{
  margin-right:31px;
  margin-left: 19px;
}

#bell{
  margin-left: 12px;
}

#square{
  margin-left: 13px;
}

.texto{
  margin-top: 23px;
  font-family: arial,sans-serif;
  font-size: 13px;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: grey;
  text-decoration: underline;
}

#logo{
display: flex;
justify-content: center;
align-items: flex-start;
padding-top: 99px;
}

#search{
  background-color: white;
  width: 583px;
  height: 44px;
  margin-left: 32px;
  border: 1px groove rgba(180,180,180,0.15);
  box-shadow:0px 2px .5px rgba(180,180,180,.6);
  display: flex;
  flex-direction: row;
  align-items: center;
}

#search:hover{
  box-shadow:0px 3px 5px rgba(180,180,180,.6);
}

#searcher{
  border-style:hidden;
  height: 35px;
  width: 500px;
  outline-style: none;
  /*Esto es para que no salga ese pequeño margen del input cuando le doy click*/
}

#voicesearch{
  width:37px;
  height:25.7px;
  padding-top: 5px;
}

.buttons1{
  width: 158px;
  height: 16px;
  background-color: #f2f2f2;
  font-family: arial,sans-serif;
  font-size: 13px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #757575;
  font-weight: bold;
}

.buttons1:hover{
  color: black;
  border: 1px solid rgba(180,180,180,.6);
}

#submit{
  background-color: #f2f2f2;
  font-family: arial,sans-serif;
  font-size: 13px;
  color: #757575;
  font-weight: bold;
  border: hidden;
}

#submit:hover{
  color: black;
}

#idioma{
  font-family: arial,sans-serif;
  font-size: 13px;
  display: flex;
  justify-content: center;
}

#bottompage1{
  height: 30px;
  font-family: arial,sans-serif;
  font-size: 15px;
  padding-left: 29px;
  padding-top: 11px;
  color:rgba(0,0,0,.54);
}

#bottompage2{
  display: flex;
  flex-direction: row;
  height: 39px;
}

.buttons2{
  font-family: arial,sans-serif;
  font-size: 13px;
  text-align: center;
  color:rgba(0,0,0,.54);
  display: flex;
  align-items: center;
}
